# Ignorar archivos sensibles o de configuración
php/db_config.php
*.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales o logs
*.log

# Configuraciones de editores
.vscode/
.idea/

# Dependencias (si llegaras a tener)
node_modules/
vendor/

